#tbl{
    width: 100%;
    height: 200px;
    border-color:red;
    border-width: 10px;
    border-collapse: collapse;
    text-align: center;
}
.thead{
    background-color:grey;
    font-size: bold;
    color:yellow;
}
.thead:hover{
    background-color: blue;
}

.tr:nth-child(even){
    background-color:green;
    color: white;
}
.tr:hover:nth-child(odd){
    background-color: yellow;
    color: black;
}
